/*
? @media queries
! 0-600px: Phone
! 600~900px: Tablet Portrait
! 900~1200px: Tablet Landscape
! 1200~1800px: Desktop (MAIN)
! 1800px+: Big Screen

 *rems in html are NOT inherited
TODO: use em = 16px instead 
!always
*/
/*

todo: Order: Base > Typography > Gen Layout + Grid > Page Layout > Components

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    opacity: 0.8;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    opacity: 0.8;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
}
@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
  animation-delay: 1000ms;
  animation-fill-mode: backwards;
}
@media (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
    font-size: 5rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.7rem;
  animation: 1000ms moveInRight ease-out 1000ms;
  animation-fill-mode: backwards;
}
@media (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: transform 200ms;
}
@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 2.5rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.bg-video {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: transform 200ms;
  position: relative;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  background-color: currentColor;
  opacity: 0;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition-duration: 300ms;
  transition-property: transform background-color;
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  color: #fff;
}
.btn--green {
  background-color: #55c57a;
  color: #fff;
}
.btn--green::after {
  color: #55c57a;
}
.btn--animated {
  animation-name: moveUp;
  animation-duration: 1000ms;
  animation-delay: 1000ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition-property: transform color background-color box-shadow;
  transition-duration: 500ms;
}
.btn-text:hover {
  transform: translateY(-0.5rem);
  color: #fff;
  background-color: #55c57a;
  box-shadow: 0 1rem 2rem 0.1rem rgba(119, 119, 119, 0.2);
}
.btn-text:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem 1rem rgba(119, 119, 119, 0.2);
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
}
.card__side {
  height: 52rem;
  transition: transform 800ms ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../../img/nat-5.jpg);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../../img/nat-6.jpg);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../../img/nat-7.jpg);
}
.card__heading {
  position: absolute;
  text-align: right;
  top: 12rem;
  right: 2rem;
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  width: 70%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .card {
    height: auto;
    border-radius: 0.3rem;
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .card__side--front {
    box-shadow: none;
  }
  .card__side--back {
    transform: rotateY(0);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__details {
    padding: 1rem 3rem;
  }
  .card__cta {
    width: 90%;
    position: relative;
    top: 3rem;
    left: 0;
    transform: none;
    width: 100%;
    padding: 7rem 4rem 4rem 4rem;
  }
  .card__price-box {
    margin-bottom: 3rem;
  }
  .card__price-value {
    font-size: 4rem;
  }
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 1;
  transition-property: z-index, transform, box-shadow;
  transition-duration: 200ms;
  outline-offset: 2rem;
}
@media (max-width: 56.25em) {
  .composition__photo {
    float: left;
    position: relative;
    width: 33.3333%;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  }
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
@media (max-width: 56.25em) {
  .composition__photo--p1 {
    top: 0;
    transform: scale(1.2);
  }
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
@media (max-width: 56.25em) {
  .composition__photo--p2 {
    top: -1rem;
    transform: scale(1.3);
    z-index: 100;
  }
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
@media (max-width: 56.25em) {
  .composition__photo--p3 {
    top: 1rem;
    left: 0;
    transform: scale(1.1);
  }
}
.composition__photo:hover {
  transform: scale(1.05) translateY(-0.5rem);
  outline: 1.5rem solid #7ed56f;
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition-property: transform;
  transition-duration: 200ms;
}
@media (max-width: 56.25em) {
  .feature-box {
    padding: 1rem;
  }
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  background: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
@media (max-width: 56.25em) {
  .feature-box__icon {
    margin-bottom: 0;
  }
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 0.3rem solid transparent;
  display: block;
  width: 90%;
  transition-property: border-bottom;
  transition-duration: 500ms;
}
@media (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.3rem solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 0.3rem solid #ff7730;
}
.form__input::placeholder {
  color: #999;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition-property: opacity, transform, visibility;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__radio-group {
  width: 49%;
  display: inline-block;
}
@media (max-width: 56.25em) {
  .form__radio-group {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem;
}
.form__radio-input {
  display: none;
}
.form__radio-button {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border: 0.5rem solid #55c57a;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -0.5rem;
}
.form__radio-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  background-color: #55c57a;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transition: 400ms ease-in-out;
  transition-property: opacity, visibility;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup__content {
  width: 75%;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: 500ms ease-in-out;
  transition-delay: 200ms;
  transition-property: opacity, transform;
}
.popup__left {
  width: 33.3333%;
  display: table-cell;
}
.popup__right {
  width: 66.6667%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}
.popup__img {
  display: block;
  width: 100%;
}
.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid #eee;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #eee;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
.popup__close, .popup__close:link, .popup__close:visited {
  position: absolute;
  font-size: 3rem;
  top: 2.5rem;
  right: 2.5rem;
  text-decoration: none;
  line-height: 1;
  display: inline-block;
  color: #777;
  transition: color 300ms ease-in-out;
}
.popup__close:hover {
  color: #55c57a;
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.3rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
}
@media (max-width: 56.25em) {
  .story {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }
}
@media (max-width: 37.5em) {
  .story {
    transform: skewX(0);
  }
}
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(40% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
@media (max-width: 37.5em) {
  .story__shape {
    transform: translateX(-3rem);
  }
}
.story__img {
  height: 100%;
  transform: translateX(-4rem) scale(1.2);
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  backface-visibility: hidden;
}
.story__text {
  transform: skewX(12deg);
}
@media (max-width: 37.5em) {
  .story__text {
    transform: skewX(0);
  }
}
.story__caption {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  backface-visibility: hidden;
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story:hover .story__img {
  filter: blur(0.3rem) brightness(80%);
  transform: translateX(-4rem) scale(1);
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero-small.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
@media (min-resolution: 192dpi) and (min-width: 37.5em), (-webkit-min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .header {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  }
}
@media (max-width: 56.25em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
}
.header__text-box {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 40%;
}

.nav__checkbox {
  display: none;
}
.nav__btn {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  line-height: 7rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
@media (max-width: 56.25em) {
  .nav__btn {
    top: 4rem;
    right: 4rem;
  }
}
@media (max-width: 37.5em) {
  .nav__btn {
    top: 3rem;
    right: 3rem;
  }
}
.nav__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: 400ms ease-in-out;
  transition-property: transform;
}
@media (max-width: 56.25em) {
  .nav__background {
    top: 4.5rem;
    right: 4.5rem;
  }
}
@media (max-width: 37.5em) {
  .nav__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}
.nav__container {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: 200ms ease-in-out;
  transition-property: opacity width;
}
.nav__list {
  list-style: none;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav__item {
  margin: 1rem;
}
.nav__link:link, .nav__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition-property: transform, background-position, color;
  transition: 400ms ease-in-out;
}
.nav__link:hover, .nav__link:focus, .nav__link:active {
  background-position: 100%;
  color: #28b485;
  transform: translateX(1rem);
}
.nav__link span {
  display: inline-block;
  margin-right: 1.5rem;
}
.nav__checkbox:checked ~ .nav__container {
  opacity: 1;
  width: 100%;
}
.nav__checkbox:checked ~ .nav__background {
  transform: scale(80);
}
.nav__icon {
  position: relative;
  margin-top: 3.5rem;
  transition: 200ms ease-in-out;
  transition-property: background-color;
}
.nav__icon, .nav__icon::before, .nav__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.nav__icon::before, .nav__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: 200ms ease-in-out;
  transition-property: transform, top;
}
.nav__icon::before {
  top: -0.8rem;
}
.nav__icon::after {
  top: 0.8rem;
}
.nav__btn:hover .nav__icon::before {
  top: -1rem;
}
.nav__btn:hover .nav__icon::after {
  top: 1rem;
}
.nav__checkbox:checked + .nav__btn .nav__icon {
  background-color: inherit;
}
.nav__checkbox:checked + .nav__btn .nav__icon::before {
  top: 0;
  transform: rotate(-135deg);
}
.nav__checkbox:checked + .nav__btn .nav__icon::after {
  top: 0;
  transform: rotate(135deg);
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 2rem;
  }
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-to-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-to-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-to-3 {
  width: calc((100% - 2 * 6rem) * 2 / 3 + 6rem);
}
.row .col-1-to-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-to-4 {
  width: calc((100% - 3 * 6rem) * 2 / 4 + 6rem);
}
.row .col-3-to-4 {
  width: calc((100% - 3 * 6rem) * 3 / 4 + 2 * 6rem);
}

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
}
@media (max-width: 56.25em) {
  .footer {
    padding: 8rem 0;
  }
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .footer__logo-box {
    margin-bottom: 6rem;
  }
}
.footer__logo {
  width: 15rem;
  height: auto;
}
.footer__navigation {
  border-top: 0.1rem solid #777;
  padding-top: 2rem;
  display: inline-block;
}
@media (max-width: 56.25em) {
  .footer__navigation {
    width: 100%;
    text-align: center;
  }
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link:link, .footer__link:visited {
  background-color: #333;
  color: #f7f7f7;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition-property: transform, box-shadow, color;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}
.footer__link:hover, .footer__link:active {
  color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(-5deg) scale(1.3);
}
.footer__copyright {
  color: #f7f7f7;
  border-top: 0.1rem solid #777;
  padding-top: 2rem;
  width: 80%;
}
@media (max-width: 56.25em) {
  .footer__copyright {
    width: 100%;
    float: none;
  }
}
.footer__permission {
  display: block;
  color: #777;
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}
@media (max-width: 56.25em) {
  .section-about {
    padding: 20rem 0;
  }
}

.section-features {
  background-color: #fff;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
}
.section-features > * {
  transform: skewY(7deg);
}
@media (max-width: 56.25em) {
  .section-features {
    padding: 10rem 0;
  }
}

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}
@media (max-width: 56.25em) {
  .section-tours {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}
@media (max-width: 56.25em) {
  .section-stories {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
@media (max-width: 56.25em) {
  .section-book {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 75em) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../../img/nat-10.jpg);
    background-size: cover;
  }
}
@media (max-width: 56.25em) {
  .book {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../../img/nat-10.jpg);
    background-size: cover;
  }
}
.book__form {
  width: 50%;
  padding: 6rem;
}
@media (max-width: 75em) {
  .book__form {
    width: 65%;
  }
}
@media (max-width: 75em) {
  .book__form {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
