@use "../abstracts/variables";
@use "../abstracts/mixins";

.nav {
  &__checkbox {
    display: none;
  }
  &__btn {
    // color: variables.$color-white;
    background-color: variables.$color-white;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    line-height: 7rem;
    box-shadow: 0 1rem 3rem rgba($color: variables.$color-black, $alpha: 0.1);
    text-align: center;
    cursor: pointer;

    @include mixins.responsive(tab-port) {
      top: 4rem;
      right: 4rem;
    }

    @include mixins.responsive(phone) {
      top: 3rem;
      right: 3rem;
    }
  }
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(variables.$color-primary-light, variables.$color-primary-dark);
    z-index: 1000;

    transition: 400ms ease-in-out;
    transition-property: transform;

    @include mixins.responsive(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }
    @include mixins.responsive(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }
  &__container {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;

    transition: 200ms ease-in-out;
    transition-property: opacity width;
  }
  &__list {
    list-style: none;
    text-align: center;
    width: 100%;

    @include mixins.centerDiv;
  }
  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: variables.$color-white;
      text-transform: uppercase;
      text-decoration: none;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, variables.$color-white 50%);
      background-size: 220%;
      transition-property: transform, background-position, color;
      transition: 400ms ease-in-out;
    }

    &:hover,
    &:focus,
    &:active {
      background-position: 100%;
      color: variables.$color-primary-dark;
      transform: translateX(1rem);
    }

    span {
      display: inline-block;
      margin-right: 1.5rem;
    }
  }

  // MENU FUNCTIONALITY
  &__checkbox:checked ~ &__container {
    opacity: 1;
    width: 100%;
  }
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  // ICON

  &__icon {
    position: relative;
    margin-top: 3.5rem;
    transition: 200ms ease-in-out;
    transition-property: background-color;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: variables.$color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: 200ms ease-in-out;
      transition-property: transform, top;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__btn:hover &__icon::before {
    top: -1rem;
  }
  &__btn:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__btn &__icon {
    & {
      background-color: inherit;
    }
    &::before {
      top: 0;
      transform: rotate(-135deg);
    }
    &::after {
      top: 0;
      transform: rotate(135deg);
    }
  }
}
