@use "../abstracts/variables";

.btn {
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: transform 200ms;
    position: relative;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(variables.$color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      background-color: currentColor;
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(variables.$color-black, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition-duration: 300ms;
    transition-property: transform background-color;
  }

  &--white {
    background-color: variables.$color-white;
    color: variables.$color-grey-dark;

    &::after {
      color: variables.$color-white;
    }
  }

  &--green {
    background-color: variables.$color-primary;
    color: variables.$color-white;

    &::after {
      color: variables.$color-primary;
    }
  }

  &--animated {
    animation-name: moveUp;
    animation-duration: 1000ms;
    animation-delay: 1000ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: variables.$font-size-default;
    color: variables.$color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid variables.$color-primary;
    padding: 3px;
    transition-property: transform color background-color box-shadow;
    transition-duration: 500ms;
  }

  &:hover {
    transform: translateY(-0.5rem);
    color: variables.$color-white;
    background-color: variables.$color-primary;
    box-shadow: 0 1rem 2rem 0.1rem rgba(variables.$color-grey-dark, 0.2);
  }
  &:active {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem 1rem rgba(variables.$color-grey-dark, 0.2);
  }
}
