@use "../abstracts/variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This resets 1rem to 10px
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
