@use "../abstracts/variables";
@use "../abstracts/mixins";

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: variables.$font-size-default;
  line-height: 1.7;
  color: variables.$color-grey-dark;
  box-sizing: border-box;
}

.heading-primary {
  color: variables.$color-white;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1000ms;
    animation-timing-function: ease-out;
    animation-delay: 1000ms;
    animation-fill-mode: backwards;

    @include mixins.responsive(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: 1000ms moveInRight ease-out 1000ms;
    animation-fill-mode: backwards;

    @include mixins.responsive(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, variables.$color-primary-light, variables.$color-primary-dark);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: transform 200ms;

  @include mixins.responsive(tab-port) {
    font-size: 3rem;
  }

  @include mixins.responsive(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(variables.$color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: variables.$font-size-default;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: variables.$font-size-default;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
