@use "../abstracts/variables";

.section-about {
  background-color: variables.$color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  background-color: variables.$color-white;
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(variables.$color-primary, 0.8),
      rgba(variables.$color-primary-dark, 0.8)
    ),
    url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: variables.$color-grey-light-1;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem;
}
